<!DOCTYPE html>

<html lang="en">

<head>
	<!-- требуемые мета-теги -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<title>@ViewData["Title"]</title>
</head>

<body>
    <!-- Навигационное меню (navbar) -->    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pokémon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Pokemons">Pokédex</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Regions</a>
                </li>
            </ul>
        </div>
    </nav>

	<div class="container">
		@RenderBody()
		<hr />
		@* <footer>
			<p>Copyright &copy; 2024 @ViewData["Title"]</p>
		</footer> *@
	</div>
	<!-- JavaScript-код для включения таких функций, как карусель -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslKleN7N6jIeHz"
			crossorigin="anonymous"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>

