@page
@model repeatRazorPages.Pages.IndexModel
<div class="container">
    <h1>Добро пожаловать на сайт посвященный Покéмонам</h1>
    <h2 style="text-align: center;">На данном ресурсе вы можете ознакомиться с различными покéмонами, а так же пополнять нашу базу покéмонов!</h2> 
</div>    