@page

@model repeatRazorPages.Pages.PokemonsPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex flex-wrap justify-content-center">
           @*  @foreach (var pokemon in PokemonStorege.Pokemons)
            {
                <div class="card m-2" style="width: 18rem;">
                    <img src="@pokemon.URL" class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@pokemon.Name</h5>
                        <p class="card-text">@pokemon.Description</p>
                        <p class="card-text">@pokemon.Level</p>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            } *@
        </div>
    </div>

    <div class="row justify-content-center">
        <p>Создание нового покемончика<br /></p>
        <form method="post" class="col-6">
            <div class="form-group">
                <input asp-for="myPokemon.Name" type="text" class="form-control" placeholder="Введите имя покемона" />
            </div>
            <div class="form-group">
                <input asp-for="myPokemon.URL" type="text" class="form-control" placeholder="Введите адрес картинки" />
            </div>
            <div class="form-group">
                <input asp-for="myPokemon.Description" type="text" class="form-control" placeholder="Введите описание" />
            </div>
            <div class="form-group">
                <input asp-for="myPokemon.Level" type="text" class="form-control" placeholder="Введите уровень покемона" />
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>