@page
@using repeatRazorPages.Pages.Pokemons
@model DeleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
	<form method="post">
		<h1>вы уверены что хотите удалить этого покемона @Model.Pokemon.Name</h1>
		<p>Описание: @Model.Pokemon.Description</p>
		<p>Уровень: @Model.Pokemon.Level</p>
		<div>
			<button type="submit" asp-route-id="@Model.Pokemon.Id" asp-page-handler="delete" class="btn btn-primary">Удалить</button>
		</div>
		
	</form>
</div>


